@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}
input[type='datetime-local']::-webkit-calendar-picker-indicator {
  filter: invert(1); /* This will invert the color of the icon */
  cursor: pointer;
}
